<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RentalActivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginActivity">
        <activity android:name=".DetailPesananActivity" />
        <activity android:name=".DashActivity" />
        <activity android:name=".DetailCatalogActivity8" />
        <activity android:name=".DetailCatalogActivity7" />
        <activity android:name=".DetailCatalogActivity6" />
        <activity android:name=".DetailCatalogActivity5" />
        <activity android:name=".DetailCatalogActivity4" />
        <activity android:name=".DetailCatalogActivity3" />
        <activity android:name=".FormRentActivity" />
        <activity android:name=".DetailCatalogActivity2" />
        <activity android:name=".DetailCatalogActivity1" />
        <activity android:name=".CatalogActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivityB" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>